@font-face{
    src: url("../fonts/Quicksand-Regular.woff2");
    font-family: "QuickSand";
}

@font-face{
    src: url("../fonts/Quicksand-Bold.woff2");
    font-family: "QuickSand-Bold";
}

@font-face{
    src: url("../fonts/AveriaSerifLibre-Regular.woff2");
    font-family: "AveriaSerif";
}

@font-face{
    src: url("../fonts/AveriaSerifLibre-Bold.woff2");
    font-family: "AveriaSerif-Bold";
}

@font-face{
    src: url("../fonts/AveriaSerifLibre-Bold.woff2");
    font-family: "AveriaSerif-Bold";
}

@font-face{
    src: url("../fonts/Lastwinter.woff");
    font-family: "Escriptura";
}

body {
    font-family: "AveriaSerif";
}